@charset "ISO-8859-1";
 
/*menu lateral aparecendo por cima*/
/*menu superior aparecendo por cima*/

.ui-layout-north {
	z-index:50 !important;
	overflow:visible !important;
}
.ui-layout-north .ui-layout-unit-content {
	overflow:visible !important;
}