@charset "ISO-8859-1";
 
/*menu lateral aparecendo por cima*/

.ui-layout-west{
    z-index:100 !important;
}
.ui-layout-west .ui-layout-unit-content{
    overflow:visible !important;
    z-index:100 !important
}